@import url();

html, 
body  {
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

header {
    align-items: center;
}

nav {
    overflow: hidden;
}

nav ul {
    padding: 1px;
}

nav li {
    display: inline-block;
}

nav, .search-container {
    float: right;
}

.search-container {
    float: right;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

header,
footer {
    background-color: #b9b9b9;
    color: white;
}

/* links */
a {
    text-decoration: none;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav input[type=text] {
    padding: 6px;
    margin-left: 15px;
    font-size: 17px;
    border: none;
    align-items: center;
  }

nav, .search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    align-items: center;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

header a {
    color: black;
    padding: 10px;
}

h1 {
    font-size: 50px;
    color: #0A3641;
}

p {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.cta {
    background-color: #3C3C3C;
    color: white;
    font-style: normal;
    font-size: 1em;
    padding: 20px 50px;
    border-radius: 5px;
    float: left;
    margin-left: 200px;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

/* Home page */
.welcome {
    background-image: url("../images/pexels-pixabay-47356.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 70vh;
    position: relative;
    padding: 160px;
}

.welcome__content {
    max-width: 650px;
    margin-left: 50px;

    }

  .welcome__content div {
    margin: 90px 100px;
  }
  