body  {
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 90px;
  margin-left: 20px;
  margin-top: 15px;
}

header {
  align-items: center;
}

nav {
  overflow: hidden;
  margin-left: 0px;
  display: none;
  float: right;
  position: fixed;
  top: 45px;
  z-index: 10000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: fl;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

header, 
footer {
  background-color: #b9b9b9;
  color: white;
  max-width: 1000%;
}

/* links */
li a {
  text-decoration: none;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav input {
  border: none;
  font-size: 17px;
  border: none;
  margin: 10px 20px 10px 180px;
  cursor: pointer;
}

header a {
  color: black;
  padding: 10px;
  margin-left: 10px;
}

h1 {
  color: #0A3641;
  margin-left: 5px;
}

p {
  font-size: 15px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  margin: 1px 100px 20px 20px;
  text-align: left;
}

.cta {
  background-color: #3C3C3C;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  text-align: center;
  max-width: 80px;
  margin-left: 10px;
  font-size: 1em;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

/* Home page */
.welcome {
  background-image: url("../images/pexels-pixabay-47356.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 70vh;
  position: relative;
  padding: 75px;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 300px;
  }


@media (min-width: 768px) {
  .logo {
    max-width: 150px;
  }

  a {
    margin-top: 10px;
    text-align: center;
  }
  
  li {
    margin-left: 30px;
  }

  input{
    padding: 5px;
    }

  .welcome {
    min-height: 90vh;
  }

  .welcome__content {
    max-width: 100%;
    top: 100px;
  }

  h1 {
    font-size: 45px;
    margin-top: 10px;
  }

  p {
    font-size: 30px;
    margin: 5px 450px 30px 30px;
    text-align: center;
  }

  .cta {
    margin-left: 50px;
    padding: 10px 80px;
}

@media (min-width: 1000px) {
    header label {
    display: none;
  }
  
  nav, header {
    display: flex;
    flex-direction: row;
    max-width:100%;
    padding: 5px;
    justify-content: space-between;
  }
 
  nav {
    display: block;
    position: static;
  }

  nav li {
  display: inline-block;
  padding: 0px;
  }

  a {
    margin-top: 10px;
    text-align: center;
  }
  
  li {
    margin-left: 30px;
  }

  .welcome {
    min-height: 90vh;
  }

  .welcome__content {
    background: rgba(255, 255, 255, 0,5);
    padding: 10px;
    max-width: 1200px;
  }

  h1 {
    font-size: 60px;
  }
}